---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			question: 'Como puedo iniciar?',
			answer: `Para iniciar pongase en contacto conmigo.`,
		},
		{
			question: 'Como es el proceso de pago?',
			answer: `En la etapa 2,Feedback, se pagara el 30% del presupuesto previsto. Al final de la etapa 3,Finalizacion, se pagara el presupuesto final  `,
		},
		{
			question: "Cuanto es el lapso de tiempo de un proyecto?",
			answer: `El lapso de timpo depende de cada proyecto, pongase en contacto conmigo.`,
		},
	],
	[
		{
			question: "Hay algun respaldo de los proyectos?",
			answer: `Si, si tu proyecto tiene un peso menos de 1gb tendra un respaldo de un año.`,
		},
		{
			question: 'No se nada de tecnologias, no tengo ni idea de como hacer mi pagina, ¿Me orientas?',
			answer: `Claro, escribeme te orientare 🙌.`,
		},
		{
			question: 'Ofreces un trato confidencial?',
			answer: `Si, si quieres que tu proyecto sea completamente anonimo escribeme, tienes opcion a respaldo`,
		},
	],
];
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
				Preguntas frecuentes
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<h3 class="mb-4 text-xl font-bold">
									<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-primary-500 inline-block" />
									{question}
								</h3>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
