---
import { Icon } from 'astro-icon';

const items = [
	{
		title: 'Criptomonedas',
		description:
			'No importa que pais se encuentre, no imporata que tipo de moneda maneje, con las criptomonedas, las divisas no son un problema.',
		icon: 'flat-color-icons:home',
	},
	{
		title: 'Traductor IA',
		description:
			'Con la ayuda de un traductor, se podran hacer reuniones con traduccion simultánea.',
		icon: 'flat-color-icons:faq',
	},
	{
		title: 'Mira mis videos para conocer mas de mi',
		description:
			'Estoy en yotube como »',
		icon: 'flat-color-icons:video-projector',
	},
	{
		title: 'Presupuestos',
		description:
			'Para hacer una estimacion de presuesto ».',
		icon: 'flat-color-icons:calculator',
	},
	{
		title: 'Testimonio',
		description:
			'Para ver testimonios de proyectos ».',
		icon: 'flat-color-icons:voice-presentation',
	},
];
---

<section class="relative">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Herramientas</p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Use las Herramientas a su gusto🚀
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					Estas Herramientas serviran para generar un presupuestos 
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, icon }) => (
						<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<div class="flex items-center mb-4">
								<Icon name={icon} class="w-12 h-12" />

								<div class="ml-4 text-xl font-bold">{title}</div>
							</div>
							<p class="text-gray-500 dark:text-gray-400 text-md">{description}</p>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
