---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🐉‍ Hola, visitante!</h1>
        <h1>Hola soy Juan Quirz, desarrollador fullstack frontend</h1>
			<p>
				Esta pagina fue creada en <a href="https://www.lunarvim.org/">lunar vim</a> y escrita en <a href="https://astro.build/">Astro</a> <br>
        Con las tecnologias:
          <ul>
            <li><a href="https://tailwindcss.com/">Tailwind</a></li>
          </ul>
			</p>
      <p>
        Algunas de tecnologias que conozco estan :
        <ul>
          <li><a href="https://developer.mozilla.org/es/docs/Web/HTML">HTML</a></li>
          <li><a href="https://developer.mozilla.org/es/docs/Web/CSS">CSS</a></li>
          <li><a href="https://es.wikipedia.org/wiki/JavaScript">JavaScripts</a></li>
          <li><a href="https://reactjs.org/">Reactjs</a></li>
          <li><a href="https://vuejs.org/">Vuejs </a></li>
           
            <ul>
              <li>Cloud Computing Services</li>
              <li><a href="https://cloud.google.com/">Google Cloud</a></li>
              <li><a href="https://azure.microsoft.com/en-us/">Microsoft Azure</a></li>
            </ul>
        </ul>
		<Footer />
	</body>
</html>
